# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/

# Spring Boot / H2 database files
*.db
*.mv.db
*.trace.db
data/

# Logs & OS
*.log
.DS_Store
